@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page1{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(180deg, #040641 0%, #010106 100%);
}

.text{
    color: #ffffff;
    font-family: Inter;
    font-size: 36px;
    font-style: italic;
    font-weight: 200;
    line-height: 44px;
    letter-spacing: 0.01em;
    text-align: center;

}

.arrow{
    color: #fff;
}

.slogens{
    height: 50vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.ran{
    font-family: Inter;
    font-size: 128px;
    font-style: italic;
    font-weight: 800;
    line-height: 155px;
    letter-spacing: 0.435em;
    text-align: center;
    background: linear-gradient(180deg, #FCFFF8 0%, rgba(255, 255, 255, 0) 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    /* box-shadow: 28px 4px 8px 0px #00000040 inset; */

    
}

.swipeup{
    color:#ffffff
}

.swipeupicon{
    animation-duration: 2s ;
    animation-name: swipeAnimation;
    animation-timing-function: linear;
    transition:0.3s linear;
    animation-iteration-count: infinite;

}

.circle-container {
    /* position: fixed; */
    width: 100%;
    height: 100vh;
    z-index: 2;
  }
  
  .dynamic-circle {
    /* position: fixed; */
    border-radius: 50%;
    position: absolute;
    opacity: 0.3; 
     
  }
  
  
  .dynamic-circle:nth-child(1) {
    top: 150px;
    left: 500px;
    box-shadow: 0px 0px 45px 55px rgba(54, 194, 32, 1);
    background-color: rgba(54, 194, 32, 1);
    width: 35px;
    height: 35px;
    animation: animate1 4s linear infinite alternate;

  }
  @keyframes animate1{
    0%{
        
        transform: translate(0, 0);
    }
    100%{
   
        transform: translate(300px, 300px);
    }
  }
  
  .dynamic-circle:nth-child(2) {
    top: 250px;
    left: 300px;
    box-shadow: 0px 0px 45px 55px rgba(89, 13, 13, 1);
    width: 35px;
    height: 35px;
    background-color: rgba(89, 13, 13, 1);
    animation: animate2 4s linear infinite alternate;
  }
  @keyframes animate2{
    0%{
        
        transform: translate(0, 0);
    }
    100%{
   
        transform: translate(200px, -100px);
    }
  }
  .dynamic-circle:nth-child(3) {
    top: 450px;
    left: 450px;
    box-shadow: 0px 0px 45px 55px rgba(89, 59, 13, 1);
    width: 35px;
    height: 35px;
    background-color: rgba(89, 59, 13, 1);
    animation: animate3 4s linear infinite alternate;
  }
  @keyframes animate3{
    0%{
        
        transform: translate(0, 0);
    }
    100%{
   
        transform: translate(-90px, 100px);
    }
  }
  .dynamic-circle:nth-child(4) {
    top: 150px;
    right: 500px;
    box-shadow: 0px 0px 45px 55px rgba(89, 13, 41, 1);
    width: 35px;
    height: 35px;
    background-color: rgba(89, 13, 41, 1);
    animation: animate4 4s linear infinite alternate;
  }
  @keyframes animate4{
    0%{
        
        transform: translate(0, 0);
    }
    100%{
   
        transform: translate(500px, 100px);
    }
  }
  .dynamic-circle:nth-child(5) {
    top: 250px;
    right: 350px;
    box-shadow: 0px 0px 45px 55px rgba(89, 13, 13, 1);
    width: 35px;
    height: 35px;
    background-color: rgba(89, 13, 13, 1);
    animation: animate5 4s linear infinite alternate;
  }
  @keyframes animate5{
    0%{
        
        transform: translate(0, 0);
    }
    100%{
   
        transform: translate(-100px, 100px);
    }
  }
  .dynamic-circle:nth-child(6) {
    top: 450px;
    right: 350px;
    box-shadow: 0px 0px 45px 55px rgba(89, 59, 13, 1);
    width: 35px;
    height: 35px;
    background-color: rgba(89, 59, 13, 1);
    animation: animate6 4s linear infinite alternate-reverse;
  }

  @keyframes animate6{
    0%{
        
        transform: translate(0, 0);
    }
    100%{
   
        transform: translate(200px, -100px);
    }
  }
  
  
@keyframes swipeAnimation{
    0%{
        transform:translateY(30px);
    }
    50%{

    }
    100%{
        transform:translateY(-10px);
    }
    
}


@media screen and (max-width:480px){

    .ran{
        font-size: 70px;
    }

    .text{
        font-size: 25px;
    }

    .slogens{
        margin-top: 2rem;
    }
}

@media (min-width:481px) and (max-width:768px){

    .ran{
        font-size: 100px;
    }

    .text{
        font-size: 29px;
    }
}