@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page1{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(180deg, #040641 0%, #010106 100%);
}

.text{
    color: #ffffff;
    font-family: Inter;
    font-size: 36px;
    font-style: italic;
    font-weight: 200;
    line-height: 44px;
    letter-spacing: 0.01em;
    text-align: center;

}

.arrow{
    color: #fff;
}

.slogens{
    height: 50vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.ran{
    font-family: Inter;
    font-size: 128px;
    font-style: italic;
    font-weight: 800;
    line-height: 155px;
    letter-spacing: 0.435em;
    text-align: center;
    background: linear-gradient(180deg, #FCFFF8 0%, rgba(255, 255, 255, 0) 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    box-shadow: 28px 4px 8px 0px #00000040 inset;

    
}

.swipeup{
    color:white
}