.cards-main-container{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(180deg, #040641 0%, #010106 100%);
}

.cards-main-heading{
    color: #ffffff;
    font-family: Inika;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.48px;
    max-width: 80%;
    margin: auto;
    
}

.cards-main-box{
    max-width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items:center ;
    margin: auto;
    margin-top: 4rem;
}

.cards-main-box-1{
    width: 305px;
    height: 390px;
    flex-shrink: 0;
    border-radius: 19px;
    background: #D9D9D9;
    margin:1rem
}

.cards-main-box-2{
    width: 305px;
    height: 390px;
    flex-shrink: 0;
    border-radius: 19px;
    background: #D9D9D9;
    margin: 1rem;
}
.cards-main-box-3{
    width: 305px;
    height: 390px;
    flex-shrink: 0;
    border-radius: 19px;
    background: #D9D9D9;
    margin : 1rem;

}

@media screen and (max-width:550px){
    .cards-main-container{
        height: 100%;
        padding-bottom: 4rem;
    }
}

@media (min-width:481px) and (max-width:770px){
    .cards-main-container{
        height: 100%;
        padding-bottom: 4rem;
    }
}
@media (min-width:771px) and (max-width:1200px){
    .cards-main-container{
        height: 100%;
        padding-bottom: 4rem;

    }
}

