.cards-main-container{
    width: 100vw;
    height: 100%;
    background: linear-gradient(180deg, #040641 0%, #010106 100%);
}

.cards-main-heading{
    color: #ffffff;
    font-family: Inika;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.48px;
    max-width: 80%;
    margin: auto;
    
    
}

.cards-main-box{
    max-width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items:center ;
    margin: auto;
    margin-top: 4rem;
}

.cards-main-box-1{
    width: 305px;
    height: 390px;
    flex-shrink: 0;
    border-radius: 19px;
    background: #D9D9D9;
    margin: 1rem;
    margin-bottom: 2rem;
}




.cards-main-box-2{
    width: 305px;
    height: 390px;
    flex-shrink: 0;
    border-radius: 19px;
    background: #D9D9D9;
    margin: 1rem;
    margin-bottom: 2rem;
}
.cards-main-box-3{
    width: 305px;
    height: 390px;
    flex-shrink: 0;
    border-radius: 19px;
    background: #D9D9D9;
    margin : 1rem;
    margin-bottom: 2rem;
}

.cards-main-box-1,
.cards-main-box-2,
.cards-main-box-3 {
    position: relative;
}

.hover-content {
    position: absolute;
    bottom: -50%;
    left: 0;
    width: 100%;
    height: 35%;
    background-color: rgba(0, 0, 0, 0.8);
    transition: 0.3s;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    transition: bottom 0.8s ease;
    display: none;
}

.cards-main-box-1:hover .hover-content,
.cards-main-box-2:hover .hover-content,
.cards-main-box-3:hover .hover-content {
    bottom: 0;
    display: block;
}

.hover-heading{
    color: white;
    font-size: xx-large;
    margin-top: 3.5rem;
    margin-left: 1rem;
}


@media screen and (max-width:550px){
    .cards-main-container{
        height: 100%;
        padding-bottom: 4rem;
    }
}

@media (min-width:481px) and (max-width:770px){
    .cards-main-container{
        height: 100%;
        padding-bottom: 4rem;
    }
}
@media (min-width:771px) and (max-width:1200px){
    .cards-main-container{
        height: 100%;
        padding-bottom: 4rem;

    }
}

