.cards-main-container{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(180deg, #040641 0%, #010106 100%);
}

.cards-main-heading{
    font-size: 20px;
    color: black;
    font-family: Inika;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.48px;
    max-width: 80%;
    margin: auto;
    
}

.cards-main-box{
    max-width: 80%;
    display: flex;
    justify-content: space-between;
    align-items:center ;
    margin: auto;
    
}

.cards-main-box-1{
    width: 305px;
    height: 390px;
    flex-shrink: 0;
    border-radius: 19px;
    background: #D9D9D9;
}

.cards-main-box-2{
    width: 305px;
    height: 390px;
    flex-shrink: 0;
    border-radius: 19px;
    background: #D9D9D9;
}
.cards-main-box-3{
    width: 305px;
    height: 390px;
    flex-shrink: 0;
    border-radius: 19px;
    background: #D9D9D9;
}