@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contact{
    margin: auto;
    margin-top: 60px;
    max-width: 550px;
    display: flex;
    justify-content: space-between;
}

.contactus-container{
    background: linear-gradient(180deg, #040641 0%, #010106 100%);
    height: 100vh;
    width: 100vw;
}

#contactUs-form{
    margin-top: 60px;
}

/* .form-heading{
    display: flex;
    justify-content: space-evenly;
} */

.contactus-heading{
    color: white;
    font-weight: 400;
    font-size: 42px;
}

.form-data{
    background: rgba(217, 217, 217, 1);
    width: 335px;
    height: 47px;
    border-radius: 15px;
}

.form-Name{
    margin-bottom: 20px;
}

.form-email{
    margin-bottom: 20px;
}

.form-tel{
    margin-bottom: 20px;
}

.form-btn-container{
    display: flex;
    justify-content: center;
}

.form-btn{
    width: 88px;
    height: 50px;
    border-radius: 30px;
    background: rgba(217, 217, 217, 1);
    font-size: 20px;
}

input[type="text"]
{
    color: black;
    font-size:20px;
}

input[type="email"]
{
    color: black;
    font-size:20px;
}

input[type="tel"]
{
    color: black;
    font-size:20px;
}

::placeholder{
    color: black;
    padding-left: 10px;
    font-weight: 200;
}

@media screen and (max-width:550px){
    .contact{
        flex-direction: column;
        /* flex-wrap: wrap; */
        align-items: center;
        justify-content: center;
    }

    .form-data{
        width: 250px;
    }

    .contactus-heading{
        font-size: 30px;
    }

    #contactUs-form{
        margin-top: 20px;
    }
}
    


