@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    height: 160px;
    display: grid;
    grid-template-columns: 25% 75%;
    /* display: flex; */
    align-items: center;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    align-items: center;
    background: transparent;
}

.logo{
    font-family: Inter;
    font-size: 40px;
    font-style: italic;
    font-weight: 800;
    line-height: 48px;
    letter-spacing: 0.435em;
    text-align: center;
    margin-left: 5%;
    background: linear-gradient(180deg, #FCFFF8 0%, rgba(255, 255, 255, 0) 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.navlist{

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.navlist li{
    flex-wrap: wrap;
    font-family: Inter;
    font-size: 32px;
    font-style: italic;
    font-weight: 200;
    line-height: 39px;
    letter-spacing: 0.01em;
    text-align: center;
    list-style: none;
    color: #ffffff;
    /* margin: 0 100%; */
}



.active {
    color: inherit; 
    text-decoration: none; 
    font-weight: inherit; 
    
}

Navlink{
    all:unset;
}

@media screen and (max-width:480px){
    .navbar{
        display: inline;
    }

    .navlist li{
        font-size: 1rem;
    }
}

@media (min-width:481px) and (max-width:768px){

    .navlist li{
        font-size: 1.4rem;
    }

    .navbar{
        height: 130px;
    }
}
