@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    height: 160px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: transparent;
}

.logo{
    font-family: Inter;
    font-size: 40px;
    font-style: italic;
    font-weight: 800;
    line-height: 48px;
    letter-spacing: 0.435em;
    text-align: center;
    background: linear-gradient(180deg, #FCFFF8 0%, rgba(255, 255, 255, 0) 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.navlist{
    width: 700px;
    display: flex;
    justify-content: space-between;
}

.navlist li{
    font-family: Inter;
    font-size: 32px;
    font-style: italic;
    font-weight: 200;
    line-height: 39px;
    letter-spacing: 0.01em;
    text-align: center;
    list-style: none;
    color: #ffffff;
}
