*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section3{ 
    background: linear-gradient(180deg, #040641 0%, #010106 100%);
    height: 100%;
    width: 100vw;
}

.Section3-content{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.slider-container {
    max-width: 600px;
    overflow: hidden;
    border: white solid 1px;
    height: 400px;
    margin-top: 3rem;
  }
  
  .slide {
    display: none;
  }
  
  .slide.active {
    display: block;
  }
  
  .slide img {
    object-fit: contain;
    width: 600px;
    height: 400px;
  }
  

  .slider {
    position: relative;
  }
  
  .dots-container {
    max-width: 600px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #bbb;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .dot.active-dot {
    background-color: #333;
  }

  .container{
    width: 591px;
    height: 507px;
    border-radius: 61px;
    background : #A09C9C;
    text-align: center;
    margin-bottom: 2rem;
  }
  

@media screen and (max-width:480px){
    .section3{
      height: 100%;
    }
    .container{
      margin: 3rem 1rem;
    }

    .slider-container{
      margin:3rem;
    }

    .slide img{
      width: 100%;
    }
  }

@media (min-width:481px) and (max-width:768px){
  .section3{
    height: 100%;
  }

  .container{
    margin: 3rem 1rem;
  }

  .slider-container{
    margin:3rem;
  }

  .slide img{
    width: 100%;
  }

  }

@media (min-width:771px) and (max-width:1200px){
  .section3{
    height: 100%;
  }

  .container{
    margin-block: 3rem;
  }
}