*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slider{ 
    background: linear-gradient(180deg, #040641 0%, #010106 100%);
    height: 100vh;
    width: 100vw;
}

.slider-container {
    max-width: 600px;
    overflow: hidden;
    border: white solid 1px;
    height: 400px;
  }
  
  .slide {
    display: none;
  }
  
  .slide.active {
    display: block;
  }
  
  .slide img {
    object-fit: contain;
    width: 600px;
    height: 400px;
  }
  

  .slider {
    position: relative;
  }
  
  .dots-container {
    max-width: 600px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #bbb;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .dot.active-dot {
    background-color: #333;
  }
  